<%= javascript_include_tag 'controls', :plugin => 'project_tagger' -%>

<h2><%= l 'tags.edit' %> <%= @tag.name %></h2>

<script type="text/javascript">
  function check_tag() {
    var confirm_change = false;
    new Ajax.Request('/tags/check',{
      asynchronous: false,
      method: 'post',
      parameters: $('edit_tag_form').serialize(true),
      onSuccess: function(response) {
        if(response.responseText.match('true')){
          confirm_change = confirm('<%= l('tags.exists') %>');
        } else {
          confirm_change = confirm('<%= l('tags.confirm_edit') %>');
        }
      },
      onFailure: function() {
        confirm_change = false;
      }
    });
    return confirm_change;
  }
</script>

<% form_tag({ :controller => 'tags', :action => 'update', :id => @tag.id },
  :onsubmit => "return check_tag();", :id => "edit_tag_form") do -%>
  <%= hidden_field_tag 'tag[id]', @tag.id %>
  <%= error_messages_for 'tag' %>
  <p>
    <%= label_tag 'tag[name]', l('tags.new_name') %>
    <%= text_field_tag 'tag[name]', @tag.name %>
  <div id="tags_autocomplete" class="autocomplete"></div>
  <script type="text/javascript">
    new Ajax.Autocompleter('tag_name',
    'tags_autocomplete',
    '/tags/complete_tags',
    {
      paramName : 'tag',
      minChars : 2,
      select: 'value'
    });
  </script>
  </p>
  <%= submit_tag l('tags.save') %>
<% end -%>

<% html_title(l('tags.edit')+": "+@tag.name) -%>